    
    
    <!-- ============================================================= MAIN ============================================================= -->
    
    <main>
      
      <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
    
      <section id="portfolio">
        
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1 class="home-font-color"> Within this category, what qualities are you interested in? </h1>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        
        <div class="container inner-bottom">
          <div class="row">
            <div class="col-sm-12 portfolio">
              <ul class="isotope items col-3">
              <% @tags.each do |tag| %>
                <li class="grid item thumb interactive">
                  <a href="/blogs?tag_id=<%= tag.id %>">
                    <figure>
                      
                      <div class="grid-overlay">
                        <%= tag.name %>
                      </div>
                      <img class="image-responsive" src="<%= tag.image_url %>" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                <% end %>
              </ul><!-- /.items -->
            </div><!-- /.col -->  
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

         
      <!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
      
      
      <!-- ============================================================= SECTION – SHARE ============================================================= -->
      
  
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
      
    </main>
    
    <!-- ============================================================= MAIN : END ============================================================= -->
    
    
   