

 
.categories-grid-overlay {
  background-color: #a6a6a6 !important;
  opacity: 0.3;
}
.font-family{
  font-family: 'Covered By Your Grace', cursive;
}

.home-font-color{
color: #0d1219 !important;
  a, figcaption {
    color: #0d1219 !important;
  }

}

.home-button-color{

  background-color: #960612 !important;
}

.my-background {
  background-image: url("home_img.png");
}

.my-login-background {
  background-image: url("login_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.login-form {
  background-color: white;
  margin-top: 100px;
  padding: 50px;
  border-radius: 10px;
}

.mytext {
  color: #0d1219 !important;
  font-size:14pt;
  // height:70px;
  // width:300px;
  text-align: right;
}
.icon-search::before {
  display:none;
}
.text-overlay {
  background-color: rgba(166, 166, 166, 0.8);
}



