

 
.categories-grid-overlay {
  background-color: #ccffff !important;
}
.font-family{
  font-family: 'Covered By Your Grace', cursive;
}

.home-font-color{
color: #0d1219 !important;
  a {
    color: #0d1219 !important;
  }

}

.home-button-color{

  background-color: #960612 !important;
}

.my-background {
  background-image: url("home_img.png");
}





