.home-logo{
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/c0/e1/b6/c0e1b6fbd452c316194afd2d2e4c5e0d.jpg");
  border-bottom: 1px solid black;
  height: 175px;
}

.footer{
  background-color: #eff1f4 !important;
}


.nav-bar-style {
  margin:0 auto;
  width: 600px;
}

.nav-div-style {
  position: absolute;
}

.grid{
  max-height: 300px;
}
 
.categories-grid-overlay {
  background-color: #a6a6a6 !important;
  opacity: 0.3;
}
.font-family{
  font-family: 'Source Sans Pro', sans-serif;
}

.home-font-color, .home-font-color a, .home-font-color figcaption, .home-font-color h2, .home-font-color h1{
color: #0d1219 !important;
}

.grid-overlay{
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 30%;
  color: white;
  font-size:30px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.grid-overlay:hover{
  background-color: rgba(166, 166, 166, 0.5);
}

.home-button-color{

  background-color: #960612 !important;
}

.my-background {
  background-image: url("home_img.png");
}

.my-login-background {
  background-image: url("login_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.login-form {
  background-color: white;
  margin-top: 100px;
  padding: 50px;
  border-radius: 10px;
}

.mytext {
  color: #0d1219 !important;
  font-size:14pt;
  // height:70px;
  // width:300px;
  text-align: right;
}
.icon-search::before {
  display:none;
}
.text-overlay {
  background-color: rgba(166, 166, 166, 0.8);
}



