

<!-- ============================================================= MAIN ============================================================= -->
    
    <main>
      
      <!-- ============================================================= SECTION – HERO ============================================================= -->
      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="my-background item" style="background-image">
            <div class="container">
              <div class="caption vertical-center text-center">
                
                <h1 class="home-font-color fadeInDown-1 light-color">The Grid</h1>
                <p class="fadeInDown-2 medium-color"></p>
                <div class="fadeInDown-3">

                 <!--  <a href="/users/sign_in" class="home-button-color btn btn-large">Login</a>
                  <a href="/categories" class="home-button-color btn btn-large">The Grid</a> -->
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
        </div><!-- /.owl-carousel -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->
      
      
      <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="home-font-color col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1 class="home-font-color">A curated selection of the internet's best, and most inspiring blogs in a handful of categories.</h1>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        
          <div class="home-font-color row inner-top-sm">
            
            <div class="col-md-1">
            </div><!-- /.col -->
            
            <div class="home-font-color col-md-3 inner-bottom-xs">
              <h2>The Grid</h2>
              <p class="text-small">After getting tired of sending blog recommendations to friends, the author created this blog to have a more cloud-friendly (and dynamic) way of sending beauty and inspiration</p>
            </div><!-- /.col -->
            
          
            <div class="home-font-color col-md-3 inner-bottom-xs">
              <h2>Proust Questionaire</h2>
              <p class="text-small">Inspired by the author's love for the back page of Vogue and constant curiosity about her readers. This questionnaire was created by Marcel Proust, the French essayist and novelist, who believed that, in answering these questions, an individual reveals his or her true nature. Fill out the form to save it to your account.</p>
            </div><!-- /.col -->
            
          
            <div class="home-font-color col-md-3 inner-bottom-xs">
              <h2>Words</h2>
              <p class="text-small">A more aesthetically pleasing Google Doc. The author's picks for best quotes in a range of topics.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
        
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
      
      
      <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
      
      <section id="get-in-touch">
        <div class="container inner">
          <div class="row">
            <div class="home-font-color col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to work with me?</h1>
                <p>Please email me at emworkman9@gmail.com for inquiries</p>
              </header>
              <a href="contact.html" class="home-button-color btn btn-large">Get in touch</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
      
    </main>
    
    <!-- ============================================================= MAIN : END ============================================================= -->