<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>The Grid</title>
    
    <!-- Core CSS -->
    <link href="/public_assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public_assets/css/main.css" rel="stylesheet">
    
    <!-- AddOn/Plugin CSS -->
    <link href="/public_assets/css/green.css" rel="stylesheet" title="Color">
    <link href="/public_assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/public_assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/public_assets/css/animate.min.css" rel="stylesheet">
    <link href="/public_assets/css/aos.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="/public_assets/css/custom.css" rel="stylesheet">
    
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
    
    <!-- Icons/Glyphs -->
    <link href="/public_assets/fonts/fontello.css" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public_assets/images/favicon.ico">
    
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
    <!-- ============================================================= HEADER ============================================================= -->
    
   <header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> TheGrid.com</a></li>
              <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
            </ul><!-- /.info -->
            
            <ul class="social pull-right">
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-gplus"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-behance"></i></a></li>
              <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
            </ul><!-- /.social -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="index.html"><img src="/public_assets/images/logo.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
          </div><!-- /.container -->
        </div><!-- /.navbar-header -->
        
        <div class="yamm">
          <div class="navbar-collapse collapse">
            <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
              <a class="navbar-brand" href="index.html"><img src="/public_assets/images/logo.svg" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
              <ul class="nav navbar-nav">
                
                <li class="dropdown">
                  <a href="/categories" class="dropdown-toggle" data-toggle="dropdown">The Grid</a>
                  
                  
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blogs</a>
                  
                  <ul class="dropdown-menu">
                    <li><a href="/blogs/index">Fashion</a></li>
                    <li><a href="/blogs/index">Beauty</a></li>
                    <li><a href="/blogs/index">Inspiration</a></li>
                    <li><a href="/blogs/index">Career</a></li>
                    <li><a href="/blogs/index">Words</a></li>
                    <li><a href="/blogs/index">Sports</a></li>
                    <li><a href="/blogs/index">Travel</a></li>
                    <li><a href="/blogs/index">Self Improvement</a></li>
                    <li><a href="/blogs/index">Finance</a></li>
                    <li><a href="/blogs/index">Aesthetic</a></li>
                    <li><a href="/blogs/index">Bad-Ass Women</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Words</a>
                  
                  <ul class="dropdown-menu">
                    <li><a href="blog.html">Success</a></li>
                    <li><a href="blog2.html">Minimalism</a></li>
                    <li><a href="blog3.html">Image</a></li>
                    <li><a href="blog4.html">Purpose, Fate</a></li>
                    <li><a href="blog5.html">Discipline</a></li>
                    <li><a href="blog6.html">Character</a></li>
                    <li><a href="blog7.html">Fuck It, Courage, Change</a></li>
                    <li><a href="blog-post.html">Hope, Inspiration, Perspective</a></li>
                    <li><a href="blog-post2.html">Time</a></li>
                    <li><a href="blog-post2.html">Work</a></li>
                    <li><a href="blog-post2.html">Dolla $ Billz</a></li>
                    <li><a href="blog-post3.html">Love, Heartbreak</a></li>
                    <li><a href="blog-post3.html">Creativity</a></li>
                    <li><a href="blog-post3.html">California</a></li>
                    <li><a href="blog-post3.html">Misc.</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proust Questionaire</a>
                  
                  <ul class="dropdown-menu">
    
                    
                    <li><a href="about.html">Index</a></li>
                    <li><a href="about2.html">Take It!</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                  
                  <ul class="dropdown-menu">
                    
                    <li><a href="slider-carousel.html">Author</a></li>
                    <li><a href="modal.html">Contact</a></li>
                    
                    <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Colors</a>
                      
                      <ul class="dropdown-menu">
                        <li><a class="changecolor green" title="Green color">Green</a></li>
                        <li><a class="changecolor blue" title="Blue color">Blue</a></li>
                        <li><a class="changecolor red" title="Red color">Red</a></li>
                        <li><a class="changecolor pink" title="Pink color">Pink</a></li>
                        <li><a class="changecolor purple" title="Purple color">Purple</a></li>
                        <li><a class="changecolor orange" title="Orange color">Orange</a></li>
                        <li><a class="changecolor navy" title="Navy color">Navy</a></li>
                        <li><a class="changecolor gray" title="Gray color">Gray</a></li>
                      </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown-submenu -->
                    
                    <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submenu Levels</a>
                      
                      <ul class="dropdown-menu">
                        <li><a href="#">Second Level</a></li>
                        <li><a href="#">Second Level</a></li>
                        
                        <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
                          
                          <ul class="dropdown-menu">
                            <li><a href="#">Third Level</a></li>
                            <li><a href="#">Third Level</a></li>
                          </ul><!-- /.dropdown-menu -->
                        </li><!-- /.dropdown-submenu -->
                      </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown-submenu -->
                    
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->
                
                <!-- ============================================================= MEGA MENU ============================================================= -->
                
                <li class="dropdown yamm-fullwidth">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vision Boards</a>
                  
                  <ul class="dropdown-menu yamm-dropdown-menu">
                    <li>
                      <div class="yamm-content row">
                      
                        <div class="col-sm-3 inner">
                          <h4>Focus on</h4>
                          <figure>
                            <div class="icon-overlay icn-link">
                              <a href="portfolio-post.html"><img src="/assets/images/art/work01.jpg" alt=""></a>
                            </div>
                            <figcaption>
                              <p>Consed quodips ameniat empernam que apid cust quas molor eatis numa estio.</p>
                              <a href="/portfolio-post.html" class="btn">View Project</a>
                            </figcaption>
                          </figure>
                        </div><!-- /.col -->
                        
                        <div class="col-sm-3 inner">
                          <h4>Special Pages</h4>
                          
                          <ul class="circled">
                            <li><a href="/portfolio2.html">3 Columns Details Grid Portfolio</a></li>
                            <li><a href="/portfolio5.html">Fullscreen Grid Portfolio</a></li>
                            <li><a href="/portfolio-post5.html">Portfolio Post with Video</a></li>
                            <li><a href="/blog5.html">2 Columns Grid Blog with Left Sidebar</a></li>
                            <li><a href="/blog7.html">3 Columns Grid Blog without Sidebar</a></li>
                            <li><a href="/blog-post.html">Blog Post with Right Sidebar</a></li>
                            <li><a href="/sidenav.html">Side Navigation Page</a></li>
                            <li><a href="/about2.html">About Page II</a></li>
                            <li><a href="/services.html">Service Page I</a></li>
                            <li><a href="/pricing.html">Pricing Page I</a></li>
                            <li><a href="/contact.html">Contact Page I</a></li>
                          </ul><!-- /.circled -->
                        </div><!-- /.col -->
                        
                        <div class="col-sm-3 inner">
                          <h4>Latest Works</h4>
                          
                          <div class="row thumbs gap-xs">
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work02.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work03.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work04.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work05.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work06.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                            <div class="col-xs-6 thumb">
                              <figure class="icon-overlay icn-link">
                                <a href="/portfolio-post.html"><img src="/assets/images/art/work07.jpg" alt=""></a>
                              </figure>
                            </div><!-- /.thumb -->
                            
                          </div><!-- /.row -->
                        </div><!-- /.col -->
                        
                        <div class="col-sm-3 inner">
                          <h4>About Us</h4>
                          <p>Voluptat ibusaped molorporro consequ idustibus. Reressi morum ut dolessiti tem nihicid ernatum, coria volore non pro officat ut autem accaborem conet. Omnis peribus qui dolent praeperrum coria.</p>
                          <p>Equam conesti occum dolorest, quae venderes quistius, comnitatur sae dinam nonseculpa cum fugit is verciam.</p>
                          <a href="/about.html" class="btn">Read More</a>
                        </div><!-- /.col -->
                        
                      </div><!-- /.yamm-content -->
                    </li>
                  </ul><!-- /.yamm-dropdown-menu -->
                </li><!-- /.yamm-fullwidth -->
                
                <!-- ============================================================= MEGA MENU : END ============================================================= -->
                
                
                  
                    <% if current_user %>
                      <li><a href ="/users/sign_out">Logout</a></li>
                    <% else %>
                      <li><a href ="/users/sign_in">Login</a></li>
                    <% end %> 

                
                <li class="dropdown pull-right searchbox">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                        
                  <div class="dropdown-menu">
                    <form id="search" class="navbar-form search" role="search">
                      <i class="icon-search"/>
                      <input type="search" class="form-control" placeholder="Type to search">
                      <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                    </form>
                  </div><!-- /.dropdown-menu -->
                </li><!-- /.searchbox -->

                <li class="dropdown pull-right searchbox">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                        
                  <div class="dropdown-menu">
                    <form id="search" class="navbar-form search" role="search">
                      <input type="search" class="form-control" placeholder="Type to search">
                      <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                    </form>
                  </div><!-- /.dropdown-menu -->
                </li><!-- /.searchbox -->
                
              </ul><!-- /.nav -->
              
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>
    
    <!-- ============================================================= HEADER : END ============================================================= -->
    
    
    
    <%= yield %>
    
    <footer class="dark-bg">
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Who we are</h4>
            <a href="index.html"><img class="logo img-intext" src="/public_assets/images/logo-white.svg" alt=""></a>
            <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
            <a href="about.html" class="txt-btn">More about us</a>
          </div><!-- /.col -->
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Latest works</h4>
            
            <div class="row thumbs gap-xs">
                            
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="portfolio-post.html"><img src="/public_assets/images/art/work02.jpg" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="portfolio-post.html"><img src="/public_assets/images/art/work03.jpg" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="portfolio-post.html"><img src="/public_assets/images/art/work07.jpg" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="portfolio-post.html"><img src="/public_assets/images/art/work01.jpg" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
            </div><!-- /.row -->
          </div><!-- /.col -->
          
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Get In Touch</h4>
            <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
            <ul class="contacts">
              <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
              <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
            </ul><!-- /.contacts -->
          </div><!-- /.col -->
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Free updates</h4>
            <p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
            <form id="newsletter" class="form-inline newsletter" role="form">
              <label class="sr-only" for="exampleInputEmail">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
              <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
            </form>
          </div><!-- /.col -->
          
        </div><!-- /.row --> 
      </div><!-- .container -->
      
      <div class="footer-bottom">
        <div class="container inner">
          <p class="pull-left">© 2016 REEN. All rights reserved.</p>
          <ul class="footer-menu pull-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul><!-- .footer-menu -->
        </div><!-- .container -->
      </div><!-- .footer-bottom -->
    </footer>
    
    <!-- ============================================================= FOOTER : END ============================================================= -->
    
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/public_assets/js/jquery.min.js"></script>
    <script src="/public_assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/public_assets/js/jquery.form.js"></script>
    <script src="/public_assets/js/jquery.validate.min.js"></script>
    <script src="/public_assets/js/bootstrap.min.js"></script>
    <script src="/public_assets/js/aos.js"></script>
    <script src="/public_assets/js/owl.carousel.min.js"></script>
    <script src="/public_assets/js/jquery.isotope.min.js"></script>
    <script src="/public_assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public_assets/js/jquery.easytabs.min.js"></script>
    <script src="/public_assets/js/viewport-units-buggyfill.js"></script>
    <script src="/public_assets/js/scripts.js"></script>
    <script src="/public_assets/js/custom.js"></script>
    
    <!-- For demo purposes – can be removed on production -->
    <link href="/public_assets/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="/public_assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="/public_assets/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="/public_assets/css/pink.css" rel="alternate stylesheet" title="Pink color">
    <link href="/public_assets/css/purple.css" rel="alternate stylesheet" title="Purple color">
    <link href="/public_assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="/public_assets/css/navy.css" rel="alternate stylesheet" title="Navy color">
    <link href="/public_assets/css/gray.css" rel="alternate stylesheet" title="Gray color">
    
    <script src="/switchstylesheet/switchstylesheet.js"></script>
    
    <script>
      $(document).ready(function(){ 
        $(".changecolor").switchstylesheet( { seperator:"color"} );
      });
    </script>
    <!-- For demo purposes – can be removed on production : End -->
  </body>
</html>
